
Temp/
obj/
classes/
generated/
bin/
*.ldb
_ReSharper*/
*.iws
*.iml
*.ipr
*.eml
out/
*.user
*.resx
nbproject/
target/
build/
build.xml
Thumbs.db
manifest.mf
Out/
*.lic
Data/*Out*
.idea/
/dist/