# Eclipse project files
.classpath
.project
.project-filter
.project-orig
.settings/
test-output/

# IntelliJ project files
#.idea/
*.iws
#*.iml
*.ipr

# Mac
.DS_Store

# Others
Temp/
obj/
classes/
generated/
bin/
*.ldb
_ReSharper*/
*.eml
out/
*.user
*.resx
nbproject/
target/
build/
build.xml
Thumbs.db
manifest.mf
Out/
*.lic
Data/*Out*
*_out.*
/dist/
*.bak
